.digital-marque-sec {
    background: #000000; 
    padding: 40px 0;
    position: relative;
    z-index: -1;
    overflow: hidden;

    @media(max-width: 991px) {
        padding: 20px 0;
    }

    .digital-marque {
        position: relative;
        left: -10%;
        width: 120%;
        z-index: -1;
        overflow: hidden;

        .track {
            animation: marquee 200s linear infinite;
        }

        @keyframes marquee {
            from {
                transform: translateX(0);
            }

            to {
                transform: translatex(-50%);
            }
        }

        h1 {
            font-weight: 400;
            font-size: 48px;
            line-height: 102%;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 20s linear infinite;
            margin-bottom: 0;
            color: $white;

            @media(max-width: 991px) {
                font-size: 30px;
            }

            @media(max-width: 575px){
                font-size: 20px;
                animation: marquee 10s linear infinite;
            }
        }
    }
}